.authorCard{
    width: 200px;
    height: 250px;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.3);
    margin: 30px 30px;
    border-radius: 5px;
}
.authorCard:hover{
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.8);
}
.authorImage{
    width: 100%;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.authorImage img{
    width: 120px;
    border-radius: 60px;
}
.authorName{
    width: 100%;
    height: 70px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #363d54;
}