.mainWrapper{
    width: 100%;
    height: 90px;
    display:flex;
    align-items: center;
}
.headerItemsWrapper{
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchWrapper{
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logoImage{
    width: 100px;
    height: 60px;
}
.authorizationLinksWrapper{
    display: flex;
    justify-content: space-around;
}
.vl{
    margin: 5px;
    border: 1px solid rgba(0,0,0,0.5);
    transform: rotateZ(20deg);
}