.headerWrapper{
    width: 100%;
}
.contentWrapper{
    width: 100%;
    padding: 50px 5% 30px 5%;
    display: flex;
    justify-content: space-between;
}

.contentLeft{
    width: 20%;
}
.contentLeft img{
    margin: auto;
    width: 90%;
    border-radius: 5px;
}
.contentRight{
    width: 75%;
}
.title{
    width: 100%;
    display: flex;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.content{
    padding: 30px 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.contentItem{
    width: 95%;
    margin-bottom: 30px;
    display: flex;
}
.contentItem p{
    margin-left: 30px;
}
.footerWrapper{
    width: 100%;
    height: 80px;
    background-color: #287FBB;
}
.commentForm{
    width: 100%;
    padding: 20px 0;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
}
.commentForm button{
    margin-left: 15px;
}
.contentCommentsItem{
    display: flex;
    width: 95%;
    margin-bottom: 30px;
    flex-wrap: wrap;
}
.contentCommentsItem .userName{
    width: 15%;
}
.contentCommentsItem .commentMessage{
    width: 65%;
}
.contentCommentsItem .commentRating{
    width: 10%;
}
.delUpdButtons{
    width: 10%;
    display: flex;
    justify-content: space-around;
    padding-right: 10px;
}
.delUpdButtons img{
    height: 20px;
    cursor: pointer;
}