*{
    box-sizing: border-box;
}
.UserRoom{
    width: 100vw;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.header{
    width: 100%;
}
.verticalMenu{
    position: relative;
    width:20%;
    background: #EBEFF2;
    border-right: 1px solid rgba(0,0,0,0.3);
}
.content{
    width: 80%;
    padding: 50px 5%;
    position: relative;
}
.footer{
    width: 100%;
}